$dark-theme-background-color: #171923;
$navbar-dark-theme-background-color: #12141c;
$navbar-light-theme-background-color: #f0f0f0;
$dark-theme-font-color: white;
$secondary-color: #cc00ff;
$white-theme-background-color: white;
$white-theme-headers-font-color: #282c34;
*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
    color: inherit;
    padding: 0;
    margin: 0 !important;
    display: inline !important;
}
ul{
    & ul li{
        margin-left: 20px;
        padding-left: 15px;
        padding-bottom: 0;
    }
}
body{
    .imageContainer{
        display: block;
        width: 60ch;
        height: fit-content;
        margin: 0 auto;
        & img{
            max-width: 100%;
            border: 2px $secondary-color solid;
            border-radius: 5px;
        }
        
    }
    background-color: $white-theme-background-color;
    .title{
        color: $secondary-color !important;
        font-weight: bold;
    }
    .menu{
        border-radius: 20px;
    }
    .left-bar{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 26vw;
        height: 100vh;
        position: fixed;
        padding: 1em;
        &, & nav{
            background-color: $navbar-light-theme-background-color;
        }
    }
    header::after{
        clear: both;
    }
    .iconThemeToggle{
        margin-top: 15px;
    }
    h1, h2, h3, h4, h5, h6{
        color: $white-theme-headers-font-color;
    }
    .content{
        margin: auto;
        width: 60ch;
        max-width: 95vw;
        word-wrap: break-word;
    }
    #navbarDocumentationTopicsMobile{
        width: 100vw;
        height: fit-content;
        &, & nav{
            background-color: $navbar-light-theme-background-color;
        }
    }
    header{
        background-color: $navbar-light-theme-background-color;
    }
    .documentation-topics{
        padding: 0;
    }
    .navbar--ul, .navbar--ul *{
        display: none;
        /* TODO: make this list a class for active Page*/
        & li{
            list-style: disc;
            &::before{
                content: "\2022";
                color: $secondary-color;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
            }
        }        
    }
    .itemSelected, .itemSelected *{
        display: block;
    }
    ul, li{
        list-style: none;
    }
    &.dark{
        .left-bar, nav{
            background-color: $navbar-dark-theme-background-color;
        }
        h1,h2,h3,h4,h5,h6{
            color: white;
        }
        background-color: $dark-theme-background-color;
        color: $dark-theme-font-color;
        i{
            color: white;
        }
        #navbarDocumentationTopicsMobile{
            &, & nav{
                background-color: $navbar-dark-theme-background-color;
            }
        }
        header{
            background-color: $navbar-dark-theme-background-color;
        }
    }
}
@media (min-width: 991px) {
    .content{
        margin-left: 30% !important;
    }
}
@media (max-width: 991px){
    #navbarDocumentationTopicsMobile{
        display: none;
    }
}