$dark-theme-background-color: rgb(23, 25, 35);
$dark-theme-font-color: white;
$dark-theme-secondary-color: #00ffa5;
$secondary-color: #cc00ff;
$white-theme-background-color: white;
$white-theme-headers-font-color: #282c34;
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-10{
    border: 1px black solid;
}
body{
    background-color: $white-theme-background-color;
    .title{
        color: $secondary-color !important;
        font-weight: bold;
    }
    .left-bar{
        display: block;
        height: 100vh;
        position: fixed;
    }
    .iconThemeToggle{
        margin-top: 15px;
    }
    h1, h2, h3, h4, h5, h6{
        color: $white-theme-headers-font-color;
    }
    .content{
        margin: auto;
        width: 60ch;
        word-wrap: break-word;
    }
    .documentation-topics{
        padding: 0;
    }
    .navbar--ul, .navbar--ul *{
        display: none;
        /* TODO: make this list a class for active Page*/
        & li{
            list-style: disc;
            &::before{
                content: "\2022";
                color: $secondary-color;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
            }
        }        
    }
    .itemSelected, .itemSelected *{
        display: block;
    }
    ul, li{
        list-style: none;
    }
    &.dark{
        h1,h2,h3,h4,h5,h6{
            color: white;
        }
        background-color: $dark-theme-background-color;
        color: $dark-theme-font-color;
        i{
            color: white;
        }
    }
}
@media (min-width: 991px) {
    .content{
        margin-left: 27%;
    }
}